* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#image0,
#image1,
#image2 {
    width:600px;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    gap:1em;
}

.superLongDiv > ul {
    list-style:none;
    display:flex;

}

.superLongDiv > ul > li {
    transition: all 1s;
}

.mainContainer {
    width:600px;
    overflow:hidden;
}

button {
    font-size:50px;
    background-color:transparent;
    border:none;
    font-weight:900;
    cursor:pointer;

}

.slideLeft {
    transition:all 1s;
    transform:translateX(-600px);
}

.slideRight {
    transition:all 1s;
    /* transform:translateX(600px); */
}